# python artifacts
*.mp3
*.wav
*.ogg
*.json
__pycache__/
*.pyc
venv/
.env

# build artifacts
**/target/

# backend build output
v-beatBk/bin/
v-beatBk/target/
**/*.class

# frontend build/cache
v-beatFt/node_modules/
v-beatFt/.vite/
node_modules/
.vite/
